name: Maven-Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout code
    - name: Checkout repository
      uses: actions/checkout@v3

    # Step 2: Set up Java
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    # Step 3: Cache Maven dependencies (optional but speeds up builds)
    - name: Cache Maven packages
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    # Step 4: Build with Maven
    - name: Build with Maven
      run:  mvn -B package


    # Step 5: Run tests
    - name: Run tests
      run: mvn test
    - name: Upload WAR via SCP
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.PRIVATE_KEY }}
        port: ${{ secrets.PORT }}
        source: "./target/*.war"
        target: "/tmp/"
    - name: Invoke Jenkins Deployment Job
      uses: appleboy/jenkins-action@master
      with:
       url: "http://192.168.1.120:8080"
       user: "admin"
       token: ${{ secrets.JENKINS_TOKEN }}
       job: "TomcatDeployment"
    - name: Upload WAR via SCP
      uses: appleboy/scp-action@master
      with:
       host: ${{ secrets.HOST }}
       username: ${{ secrets.USERNAME }}
       password: ${{ secrets.PASSWORD }}
       port: ${{ secrets.PORT }}
       source: "./target/*.war"
       target: "/tmp/"




   

